[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
geopandas = "*"
matplotlib = "*"
jupyter = "*"
openpyxl = "*"
cow-csvw = "*"

[dev-packages]

[requires]
python_version = "3.8"
